<h1>Contract Edit</h1>

<h2>Student Name: <%= @student.student_name %></h2>


<h2>New Contract:</h2>
<div class = "row">
<div class = "span9">
<%= simple_form_for @contract do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  	<%= f.input :contract_type, :label => (raw("<strong>Contract Type</strong>")), collection: ["10 hour", "20 hour", "See notes"], :as => :radio, :item_wrapper_class => 'inline'   %>
  	<%= f.input :hours_left, :label => (raw("<strong>Hours Left</strong>")), :required => true %>
    <%= f.input :tutor_1_id, :label => (raw("<strong>Tutor 1</strong>")), collection: @tutor_names, :as => :radio, :item_wrapper_class => 'inline' %>
    <%= f.input :tutor_2_id, :label => (raw("<strong>Tutor 2</strong>")), collection: @tutor_names, :as => :radio, :item_wrapper_class => 'inline' %>
    <%= f.input :tutor_3_id, :label => (raw("<strong>Tutor 3</strong>")), collection: @tutor_names, :as => :radio, :item_wrapper_class => 'inline' %>
    <%= f.input :student_id, as: :hidden, :input_html => { :value => @student.id } %> 
    <br>
    <%= f.input :rate, :label => (raw("<strong>Rate</strong> ($42.50 for regular high school, $37.50 for regular elementary school)")) %>    
    <%= f.input :notes, input_html: {style: 'height:100px; width:500px;'} %>


	<%= f.button :submit, class: "btn btn-large btn-primary" %>
<% end %>
</div>

<div class = "span3">
  Tutor List
    <% for tutor in @tutors %>
      <li><%= tutor.id %> &nbsp <%= tutor.name %></li>
    <% end %>
</div>
</div>
